<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "header.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      {{ partial "about.html" . }}
     <!--  <iframe src="suca" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border: none; margin: auto; display: block; width: 100%; max-width: 728px;" frameborder="0"></iframe> -->
      {{ partial "gallery.html" . }}
      {{ partial "blog.html" . }}
      {{ partial "contact.html" . }}

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
