<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "header.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <section class="container">
          <section class="content">
              <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

              <div class="sub-header">
                  {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ .ReadingTime }} minute read
              </div>

              <article class="entry-content">
                  {{ .Content }}
              </article>

              <div style="display: flex">
                  <p style="margin-top:auto; margin-bottom:auto; margin-right: 10px;">Follow me on: </p>
                  
                    <a target="_blank" href="https://www.instagram.com/{{ .Site.Params.instagram }}"
                    class="btn btn-primary" 
                    style="
                    background: none;
                    text-shadow: none;
                    text-align: center;
                    cursor: pointer;
                    width: 60px;
                    height: 60px;
                    background-color: #2e5e86;
                    color: white;
                    border-radius: .125rem;
                    font-weight: 400!important;
                    margin: .375rem;
                   ">
                    <i class="fab fa-instagram" style="
                    position: relative;
                    font-size: 3rem;
                    color: white;"></i>
              </a>
                <a target="_blank" href="https://facebook.com/{{ .Site.Params.facebook }}"
                class="btn btn-primary" 
                style="
                background: none;
                text-shadow: none;
                text-align: center;
                cursor: pointer;
                width: 60px;
                height: 60px;
                background-color: #3b5998;
                color: white;
                border-radius: .125rem;
                font-weight: 400;
                margin: .375rem;">
                <i class="fab fa-facebook" style="
                position: relative;
                font-size: 3rem;
                color: white;"></i>
            </a>
                </div>

              <div class="pagination">
                  {{ if .PrevInSection }}
                      <a href="{{ .PrevInSection.Permalink }}">&laquo; {{ .PrevInSection.Title }}</a>
                  {{ end }}
                  {{ if .NextInSection }}
                      <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &raquo;</a>
                  {{ end }}
              </div>
          </section>
          <br>
          {{ partial "disqus" . }}
      </section>

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
