<section class="blog" id="blog">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12"><h1>Latest Posts</h1></div>
    </div>
    <div class="row">
      <div class="col-xs-12 posts-list">
        {{ range first 5 (where .Data.Pages "Section" "blog") }}
          <article>
            <a href="{{ .Permalink }}">
            <h2>{{ .Title }}</h2>
            <div class=sub-header>
              {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ .ReadingTime }} minute read
            </div>
            {{ if .Params.image }} <img src="{{ .Site.BaseURL }}/images/{{ .Params.image}}" {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>{{ end }}
          </a>
          </article>
        {{ end }}
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-12"><h3><a href="{{ .Site.BaseURL }}/blog/">View All</a></h3></div>
    </div>
  </div>
</section>
