<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
{{ if .IsHome }}
  <script src="{{ .Site.BaseURL }}/scripts/{{ if .Site.Params.cacheBustJS }}{{ index .Site.Data.cachedAssets "index.js" }}{{ else }}index.min.js{{ end }}" type="text/javascript"></script>
  {{ if .Site.Params.ajaxFormspree }}
    <script>
      {{ partial "scripts/contact.min.js" . | safeJS }}
    </script>
  {{ end }}
{{ else }}
  <script src="{{ .Site.BaseURL }}/scripts/{{ if .Site.Params.cacheBustJS }}{{ index .Site.Data.cachedAssets "main.js" }}{{ else }}main.min.js{{ end }}" type="text/javascript"></script>
{{ end }}
