{{ if .Site.Params.ajaxFormspree }}
<section class="contact" id="contact">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h1>Let's Chat</h1>
      </div>
    </div>
    <div class="col-md-12" style="display:flex; flex-direction:column; align-items: center;" >
      <div class="col-md-6">
        <h3 style="text-align:center; font-size: 1.1rem;"><a href="https://m.me/salvatoreallottaphoto"><i class="fab fa-facebook-messenger"></i> Messanger</a></h3>
      </div>
      <div class="col-md-6">
        <h3 style="text-align:center; font-size: 1.1rem;"><a href="mailto:salvatoregiovanni.allotta@outlook.it"><i class="fas fa-envelope"></i> contact@salvatoreallotta.com</a></h3>
      </div>
    </div>
    <form action="https://formspree.io/salvatoregiovanni.allotta@outlook.it" method="POST">
      <div class="row center-xs">
        <div class="col-xs-12 col-sm-6"><input type="text" name="name" placeholder="Name" required></div>
        <div class="col-xs-12 col-sm-6"><input type="email" name="_replyto" placeholder="Email" required></div>
        <div class="col-xs-12"><input type="text" name="_subject" placeholder="Subject" required></div>
        <div class="col-xs-12"><textarea name="message" placeholder="Message" required></textarea></div>
        <!-- <input type="text" name="_gotcha" style="display:none"> -->
        <!-- <input type="hidden" name="_next" value="/"> -->
        <div class="col-xs-12 contact-submit">
          <input id="form-submit" type="submit" value="Send">
          <span id="form-thankyou" style="visibility:hidden">Thanks for your email!</span>
        </div>
      </div>
    </form>

  </div>
</section>
{{ end }}