<section class="gallery" id="portraits" style="background:#212121; margin-top: 60px">
    <div class="row">
        <style>
            .photo {
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;
            }

            .video_box_main {
                min-width: 580px;
                margin: auto;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
            }

            .video_box {
                width: 580px;
                height: 315px;
                margin: auto;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
            }

            @media (max-width: 512px) {
                .video_box {
                    width: 100%;
                }
                .video_box_main{
                    min-width: 90%;
                    max-width: 100%;
                }

            }


            .row_container {
                margin-top: 20px;
            }

            h2 {
                color: white;
                font-size: 1rem;
            }
        </style>
        <section class="gallery" id="cinematography">
            <div class="row row_container">

                {{ $galleryTotal := len (where .Site.RegularPages "Section" "cinematography") }}
                {{ $galleryReverse := (where .Site.RegularPages.Reverse "Section" "cinematography") }}


                {{ range $galleryReverse }}
                <div class="col-md-4 video_box_main" onclick {{ if .Params.color }} style="background-color:{{ .Params.color }}"
                    {{ end }}>
                    <h2>{{ .Title }}</h2>
                    {{ if .Params.youtubeCode }}
                    <div class="video_box">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ .Params.youtubeCode }}"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    {{end}}
                    {{ if .Params.vimeoCode }}
                    <div class="video_box">
                        <iframe src="https://player.vimeo.com/video/{{ .Params.vimeoCode }}?title=0&byline=0&portrait=0"
                            width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen
                            allowfullscreen></iframe>
                    </div>
                    {{end}}
                </div>
                {{ end }}
            </div>
        </section>


    </div>
</section>