<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "header.html" . }}

<body>
    {{ partial "body-top" . }}
    <main>

        <section class="container">
           <!--  <iframe src="suca" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border: none; margin: auto; display: block; width: 100%; max-width: 728px;"
                frameborder="0"></iframe> -->

            <section class="content">
                <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

                <div class="sub-header">
                    {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ .ReadingTime }} minute
                    read
                </div>
                {{ if .Params.image }} <img src="{{ .Site.BaseURL }}/images/{{ .Params.image}}" {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>{{ end }}

                <article class="entry-content">
                    {{ .Content }}
                </article>

                <div style="display: flex">

                    <style>
                        .socialIcon {
                            background-image: none !important;
                            text-shadow: none !important;
                            text-align: center;
                            cursor: pointer;
                            width: 60px;
                            height: 60px;
                            color: white;
                            font-weight: 400 !important;
                            margin: .375rem;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .socialLogo {
                            position: relative;
                            font-size: 3rem;
                            color: white;
                        }

                        .instagram {
                            background-color: #2e5e86;
                        }

                        .facebook {
                            background-color: #3b5998;

                        }
                    </style>

                    <p style="margin-top:auto; margin-bottom:auto; margin-right: 10px;">Follow me on: </p>
                    <a target="_blank" href="https://www.instagram.com/{{ .Site.Params.instagram }}" class="btn btn-primary socialIcon instagram">
                        <i class="fab fa-instagram socialLogo"></i>
                    </a>
                    <a target="_blank" href="https://facebook.com/{{ .Site.Params.facebook }}" class="btn btn-primary socialIcon facebook">
                        <i class="fab fa-facebook socialLogo"></i>
                    </a>
                </div>

                <div class="pagination">
                    {{ if .PrevInSection }}
                    <a href="{{ .PrevInSection.Permalink }}">&laquo; {{ .PrevInSection.Title }}</a>
                    {{ end }}
                    {{ if .NextInSection }}
                    <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &raquo;</a>
                    {{ end }}
                </div>
               <!--  <iframe src="suca" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border: none; margin: auto; display: block; width: 100%; max-width: 728px;"
                    frameborder="0"></iframe> -->

            </section>
            <br>
            {{ partial "disqus" . }}
        </section>

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
</body>

</html>